.trigger-button {
    width: 4rem;
    height: 4rem;
    color: $text;
    background: #fff;
    outline: 0;
    cursor: pointer;
    padding: 0.8rem;
    border: 1px solid $gray_lt;
    transition: all 200ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
        border-color: $primary;
        transition: border-color 200ms ease-in-out;
    }

    &--scroll-to {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
    }

    &--menu {
        font-size: 2rem;
        line-height: 1em;
        position: fixed;
        right: 1rem;
        top: 1.3rem;
        z-index: 9999;

        .far,
        &-close .far {
            font-weight: 400;
        }
    }
}

#scroll-to-marker {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

// Used only on AMP.
#header-menu {
    width: 500px;
    background-color: $white_dk;
    font-size: 2rem;
    border-left: 1px solid $gray_lt;
    transition-duration: 500ms;

    .trigger-button--menu-close {
        margin-top: 1.4rem;
        margin-right: 1rem;
        float: right;
    }

    h3 {
        padding: 2rem 2rem 2.3rem;
        margin: 0;
        font-size: 2.2rem;
        font-weight: 500;
    }

    .copyright {
        text-align: right;
        padding-right: 2rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: $gray_text;
    }

    ul {
        padding: 0;
        margin: 0 0 4rem;

        &.ul {
            &--lines {
                li {
                    a {
                        font-size: 2rem;
                        display: inline-block;
                        padding: 1rem 0 1rem 2rem;
                        width: 100%;
                        color: $text;
                        border-bottom: 1px solid $gray_xlt;
                        background: #fff;
                        font-weight: 300;

                        &:hover {
                            color: $primary;
                        }
                    }

                    &:first-child a {
                        border-top: 1px solid $gray_xlt;
                    }
                }
            }

            &--social {
                text-align: center;

                li {
                    display: inline-block;

                    a {
                        color: $gray_text;

                        &.ul--social {
                            &--twitter {
                                &:hover {
                                    color: $color_twitter;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.admin-bar {
    .trigger-button--menu {
        top: 5.7rem;

        @include media-breakpoint-up(md) {
            top: 4.2rem;
        }
    }
}
