.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;

  img {
    width: 100vw;
  }
}

.alignwide {
  margin-left: -80px;
  margin-right: -80px;
  max-width: 100vw;
}

.median {
  &-scaled-image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;

    &__wrapper {

      &.sixteen-nine {

        .median-scaled-image {
          padding-bottom: percentage(9/16);
        }
      }
    }
  }
}


