.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;

  img {
    width: 100vw;
  }

  .wp-block-column {
    margin-right: 0;
    margin-left: 0;
  }
}

.alignwide {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
    margin-left: -10vw;
    margin-right: -10vw;
    max-width: 100vw;
  }

  .wp-block-column {
    margin-right: 0;
    margin-left: 0;
  }
}

.median {
  &-scaled-image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;

    &__wrapper {

      &.four-one {

        .median-scaled-image {
          padding-bottom: percentage(1/4);
        }
      }

      &.sixteen-nine {

        .median-scaled-image {
          padding-bottom: percentage(9/16);
        }
      }
    }
  }
}


