.post {

  &__title {
    font-size: 4.2rem;
    line-height: 1.04em;
    margin-bottom: 2.4rem;

    a {
      color: $text;

      &:hover {
        color: $gray_text;
      }

    }

    &--excerpt {
      font-size: 2.4rem;
      line-height: 2.8em;
      margin-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 4rem;

    &--excerpt {
      margin-bottom: 0.5rem;
    }
  }

  &__author {

    a {
      color: $text;

      &:hover {
        text-decoration: underline;
        color: $text;
      }
    }

    &--excerpt {
      font-size: 1.5rem;
    }
  }

  &__body {
    font-family: $font-serif;
    font-size: 1.83rem;
    line-height: 1.75em;

    > p {
      margin-bottom: 3rem;
    }

    a {
      color: $text;
      text-decoration: underline;

      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }

    &--excerpt {
      color: $gray_text;
      font-size: 1.6rem;
      line-height: 2rem;
      padding-bottom: 5rem;
      font-family: $font-sans;
    }
  }

  &__time {
    color: $gray_text;
  }

  &__meta {
    &--excerpt {
      position: absolute;
      bottom: 0;
      margin-top: 1rem;
      line-height: 2rem;
    }
  }

  &-excerpt {
    margin-bottom: 2.4rem;
  }

  &--single {
    max-width: 74rem;
    margin: 0 auto;

    h2 {
      margin-bottom: 1rem;
    }

    .wp-block-image,
    .median-scaled-image {
      margin-bottom: 4rem;
    }

    hr,
    .wp-block-separator {
      margin: 4rem calc( 50% - 3px );
      background: transparentize( #000, 0.5 );
      width: auto;
      height: 0.6rem;
      overflow: auto;
      border-radius: 50%;

      &:before,
      &:after {
        width: 0.6rem;
        height: 0.6rem;
        line-height: 0;
        background: transparentize( #000, 0.5 );
        content: '';
        position: absolute;
        display: block;
        left: 40%;
        border-radius: 50%;
      }

      &:after {
        left: 60%;
      }
    }
  }
}
