.site-header {
    border-bottom: $border;
    padding: 2rem 0;
    margin-bottom: 6rem;
    background: $white_dk;

    @include media-breakpoint-up(lg) {
        text-align: center;
    }


    &__right {
        text-align: right;
    }

    &__title {
        font-family: $font-serif;

        a {
            color: $text;

            &:focus,
            &:active {
                text-decoration: none;
            }

            &:hover {
                color: $primary;
            }
        }
    }
}

.archive {
    &__title {
        font-size: 4.2rem;
        line-height: 1.04em;
        margin-bottom: 5rem;
    }
}
