
a {
  color: $red;
  transition: $transition_color;
  text-decoration: none;

  &:hover {
    color: darken($red, 10);
    transition: $transition_color;
  }
}

sup {
  font-size: 1.3rem;
  font-weight: bold;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: .025rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

img {
  max-width: 100%;
  height: auto;
}
