
a {
  color: $green;
  transition: $transition_color;
  text-decoration: none;

  &:hover {
    color: $green_lt;
    transition: $transition_color;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.7rem;
}

sup {
  font-size: 1.3rem;
  font-weight: bold;
}

em {
  font-family: $font-serif;
  font-size: 2.1rem;
  line-height: 1.6rem;
}

blockquote {
  border-left: 3px solid transparentize( #000, 0.2 );
  font-style: italic;
}

.pullquote {
  padding: 0;
  border: 0;
  font-style: italic;
  margin: 5.5rem 0 5rem 5rem;
  font-size: 3rem;
  line-height: 1.5em;
  font-family: $font-sans;
  color: transparentize(#000, 0.3);
  font-weight: 300;
}
