a {
    color: $primary;
    transition: $transition_color;
    text-decoration: none;

    &:hover {
        color: $primary_lt;
        transition: $transition_color;
    }
}

h1,
h2,
h3 {
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

sup {
    font-size: 1.3rem;
    font-weight: bold;
}

em {
    font-family: $font-serif;
}

blockquote {
    border-left: 3px solid transparentize(#000, 0.2);
    font-style: italic;

    cite {
        font-family: $font-sans;
        font-style: normal;
    }
}

.pullquote {
    padding: 0;
    border: 0;
    font-style: italic;
    margin: 5.5rem 0 5rem 5rem;
    font-size: 3rem;
    line-height: 1.5em;
    font-family: $font-sans;
    color: transparentize(#000, 0.3);
    font-weight: 300;
}

.post__body {
    p.has-drop-cap {
        &:first-letter {
            font-size: 7rem;
            margin-top: 1rem;
        }
    }
}

.is-style-md-pullquote {
    font-size: 1.4rem;
    line-height: 1.5em;

    cite {
        font-family: $font-sans;
        font-style: normal;
    }

    @include media-breakpoint-up(lg) {
        float: right;
        width: 40%;
        margin-left: 2rem;
        margin-bottom: 2rem;
        margin-right: -10%;
    }


    @include media-breakpoint-up(xl) {
        width: 60%;
        margin-right: -30%;
    }
}
