@import 'variables';
@import 'bootstrap/bootstrap-grid';
@import 'font-awesome';
@import 'typography';
@import 'amp';

::-moz-selection {
    background: $primary_xlt;
    color: $text;
}

::selection {
    background: $primary_xlt;
    color: $text;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    background: $white_dk;
}

body {
    background: #fff;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: $font-sans;
    font-weight: 500;
    border-bottom: 1px solid $gray_xlt;
    min-height: 100vh;
}

a {
    color: $primary;
    transition: $transition_color;

    &:hover {
        color: $primary_lt;
        transition: $transition_color;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: $gray_lt;
}

nav {
    ul {
        list-style-type: none;
    }
}

@import 'images';
@import 'site-header';
@import 'nav';
@import 'post';
@import 'related';
@import 'forms';
