@import "variables";
@import "bootstrap/bootstrap-grid";
@import "font-awesome";
@import "typography";
@import "amp";

::-moz-selection {
  background: $green_xlt;
  color: $text;
}

::selection {
  background: $green_xlt;
  color: $text;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: $font-sans;
  font-weight: 300;
}

a {
  color: $green;
  transition: $transition_color;

  &:hover {
    color: $green_lt;
    transition: $transition_color;
    text-decoration: none;
  }
}


img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  width: 100%;
  height: 1px;
  background: $gray_lt;
}

nav {
  ul {
    list-style-type: none;
  }
}

@import "images";
@import "site-header";
@import "nav";
@import "post";
@import "related";
@import "sidebar-footer";
@import "forms";

// Override all colors.
@import "color-schemes";
