@import "variables";
@import "font-awesome";
@import "typography";
@import "amp";

::-moz-selection {
  background: #f00;
  color: #fff;
}

::selection {
  background: #f00;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #eee;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  width: 100vw;
}

a {
  color: #f00;
  transition: $transition_color;
  text-decoration: none;

  &:hover {
    color: darken(#f00, 10);
    transition: $transition_color;
  }
}

sup {
  font-size: 1.3rem;
  font-weight: bold;
}


img {
  max-width: 100%;
  height: auto;
}

// This is both header and footer navs.
nav {

  ul {
    list-style-type: none;
  }
}

// Override colors.
@import "color-schemes";
